@import './../../styles/variables'

$img_height: 410px

.split-view
  display: flex
  align-items: center

  &__logo
    position: absolute
    top: 15px
    left: 50%
    margin-left: -39px
    transition: all 1s

    &.is-left
      left: 100px
      margin-left: 0
      transition: all 1s

  &__split
    box-sizing: border-box
    display: flex
    flex-direction: column
    width: 50%
    height: 100%

    &--left
      align-items: flex-end
      padding: 187px 50px 80px 50px

      .split-view__img
        align-self: flex-end
      
      .split-view__h1
        left: 100px
    
    &--right
      overflow: hidden
      padding: 187px 63px 80px 50px

      .split-view__h1
        right: 63px
      
      .split-view__logo
        left: 0

  &__img
    width: 420px
    height: $img_height
  
  &__h1
    position: absolute
    top: 490px
    display: flex
    flex-direction: column
    line-height: 0.75

  &__text
    max-width: 375px
    margin-top: 146px
  
.team-intro
  justify-content: center
  min-height: $img_height

.customer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 50%
  min-height: 900px
