@import './styles/fonts'
@import './styles/reset'
@import './styles/variables'

body
  margin: 0
  font-family: "roc-grotesk", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $black
  color: $white

// Typography
.medium-text
  font-size: 16px

.large-text
  font-size: 20px

.h1
  font-size: 87px
  color: $primary

.text-outline
  color: transparent
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $secondary

.primary-text
  color: $primary

//Layout
.bg-light
  background-color: $white

  .medium-text
    color: $black

.spacing-bottom-20
  margin-bottom: 20px
