@import './styles/fonts'
@import './styles/reset'
@import './styles/variables'

body
  margin: 0
  font-family: "roc-grotesk", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $black
  color: $white

// Typography
.medium-text
  line-height: 22px
  font-size: 16px

.large-text
  font-size: 20px

.h1, .h2, .h3
  font-weight: 600

.h1
  font-size: 200px

.h2
  font-size: 150px

.h3
  font-size: 87px
  color: $primary
  line-height: 63px

.rotate-headline
  position: absolute
  display: inline-block
  rotate: 270deg

  &--left
    left: 0

  &--right
    right: 0

.text-outline
  color: transparent
  -webkit-text-stroke-width: 2px
  -webkit-text-stroke-color: $secondary

.primary-text
  color: $primary

//Layout
.bg-light
  background-color: $white

  .medium-text
    color: $black

.spacing-bottom-20
  margin-bottom: 20px
