@import './styles/fonts'
@import './styles/reset'
@import './styles/variables'
@import './styles/mixins'

body
  margin: 0
  font-family: "roc-grotesk", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $black
  color: $white
  overflow-x: hidden

// Typography
.medium-text
  line-height: 22px
  font-size: 16px

.large-text
  font-size: 20px

.h1, .h2, .h3
  font-weight: 600

.h1
  font-size: 200px

  +breakpoint(small)
    font-size: 100px

.h2
  font-size: 150px

.h3
  font-family: "roc-grotesk condensed", sans-serif
  font-size: 87px
  color: $primary
  line-height: 63px

  +breakpoint(small)
    font-size: 50px

.rotate-headline
  position: absolute
  display: inline-block
  rotate: 270deg
  z-index: 2

  &--left
    left: -455px

  &--right
    right: -355px

.text-outline
  color: transparent
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $secondary

  &.h1
    -webkit-text-stroke-width: 2px

.primary-text
  color: $primary

.link-dark:hover
  color: transparent
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $black

.link-light:hover
  color: transparent
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $secondary
  

.bold
  font-weight: bold

//Layout
.padding-50
  padding: 50px
  +breakpoint(small)
    padding: 15px

.box-highlight
  background-color: $primary

  p, a
    color: $black

.bg-light
  background-color: $white

  .medium-text
    color: $black

.spacing-bottom-20
  margin-bottom: 20px

.spacing-bottom-30
  margin-bottom: 30px

.spacing-bottom-100
  margin-bottom: 100px
  +breakpoint(small)
    margin-bottom: 20px

.invisible-small
  +breakpoint(small)
    display: none

.up-scroll
  position: fixed
  bottom: 100px
  right: 100px
  z-index: 3
  cursor: pointer

.content
  padding-left: 100px
  padding-right: 100px
  +breakpoint(small)
    padding-left: 30px
    padding-right: 30px
